* {box-sizing: border-box;}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0.5em;}
.heading {
    font-size: 25px;
    margin-right: 25px;}  
.fa {
    font-size: 25px;}
.checked {
    color: orange;}
.side {
    float: left;
    width: 15%;
    margin-top:10px;}
.middle {
    margin-top:10px;
    float: left;
    width: 70%;}
.right {text-align: right;}
.row:after {
    content: "";
    display: table;
    clear: both;}
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;}  
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 5%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 3%; height: 18px; background-color: #f44336;}
@media (max-width: 400px) {
.side, .middle {
      width: 100%;}
.right {display: none;}}
body{
    background-image: url('../personal/personalimages/reviews.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    font-weight: bolder;}
h3{
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 15%;
    color: white;
    font-weight: bold;}