body{
    font-family: "Lato", sans-serif;}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;}
.sidebar a {
  padding: 20px 20px 20px 68px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 42px;
  margin-left: 50px;}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;}
.openbtn:hover {
  background-color: #444;}
#main {
  transition: margin-left .3s;
  padding: 16px;}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}}
.title{float: right;}
.title a {background-color: black;
padding: 1em;
line-height: 1em;
color: whitesmoke;
text-decoration: none;}