body{
    background-color: lightgray;
    width: auto;
    border: 5px solid black;
    padding: 5px;
    margin: 20px;
}
.card {
        background-color: whitesmoke;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
      font-family: arial;}
.price {
      color: grey;
      font-size: 22px;}
form{
    float: centre;
    text-align: left;
    width: 300px;
    border: 10px solid black;
    padding: 2em;
    margin: auto;}
h3, h4{
        text-align: center;
        text-transform: capitalize;}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}